
<form id="age-form">
   <p>
        <label for="years">Год рождения:</label>
        <select id = "years" name="years" required></select>
       <p id="demo"></p>
      <p>
      <label for="name">Полное имя:</label>
        <input type="text" id="name" name="name" required/>
  </p>
      <p>
          <label for="phone">Номер Телефона:</label>
          <input class="tel" id="phone" autocomplete="tel" maxlength="14 type="text" name="phone" placeholder="(XXX)XXX-XXX" required maxlength="14" id="tel"/>
      </p>
      <p>
          <button type="button">Next</button>
      </p>
  </form>





    
